version: 2.1

orbs:
  node: circleci/node@4.1.0

executors:
  node:
    docker:
      - image: cimg/node:12.20.1

jobs:
  test:
    parameters:
      scope:
        type: string
        default: '@vpriem'
      package:
        type: string

    executor: node

    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run: yarn workspace << parameters.scope >>/<< parameters.package >> test --coverage

  lint:
    parameters:
      scope:
        type: string
        default: '@vpriem'
      package:
        type: string

    executor: node

    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run: yarn workspace << parameters.scope >>/<< parameters.package >> lint

  build-and-publish:
    executor: node

    steps:
      - add_ssh_keys:
          fingerprints:
            - "5a:b0:fb:15:25:f5:81:1f:2e:0a:11:8c:bb:65:ca:d3"
      - run:
          name: Configure git
          command: |
            git config --global user.email "vinzent.priem@gmail.com"
            git config --global user.name "V. Priem"
      - run:
          name: Configure npm
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run: yarn build
      - run: yarn run publish --no-verify-access --yes from-package

workflows:
  version: 2

  deploy:
    jobs:
      - test:
          name: test-package
          package: package

      - lint:
          name: lint-package
          package: package

      - build-and-publish:
          requires:
            - test-package
            - lint-package
          filters:
            branches:
              only: master
